extends layout

block page-content
    .row
        .col-lg-12
            h1#title.page-header  #{title}
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    |
                    a(href='/dashboard.pug') Dashboard
                li.active
                    i.fa.fa-bookmark-o
                    b#title2  #{title}
    .row
        .col-sm-6
            img#cover-pic(src="http://placehold.it/400x400", style="width:240px;height:300px;")

        .col-sm-6
            ul.list-group
                li.list-group-item.active
                    b Information
                li.list-group-item
                    b ID
                    |   #{generatedId}
                li.list-group-item
                    b By
                    |   #{author}
                li.list-group-item
                    b Publisher
                    |   #{publisher}
                li.list-group-item
                    b ISBN-10
                    |   #{isbn10}
                li.list-group-item
                    b Availability
                    |   #{status}
                li.list-group-item
                    b Location
                    |   HK Library
    #msg-success-band.alert.alert-success
        strong Well done!
        #msg-suc  You successfully read this important alert message.
    #msg-fail-band.alert.alert-danger
        strong Oh snap!
        #msg-fail  Change a few things up and try submitting again.
    .row
        .col-sm-12
            form
                .form-group.row.has-success
                    label.col-sm-2.col-form-label(for='inputHorizontalSuccess') Student User Id
                    .col-sm-10
                        input#id_input.form-control.form-control-success(type='text', placeholder='A*****')
                        |
                        small.form-text.text-muted Input the Student Id
    .row
        .col-sm-6.col-sm-offset-6
            .col-sm-2.col-sm-offset-3
                button#rent-btn.btn.btn-primary(type='button') Rent This Book

            .col-sm-2.col-sm-offset-3
                button#return-btn.btn.btn-primary(type='button') Return This Book

    script.
        var m_bookId = '#{generatedId}';
        var cover = '#{cover}';
        var s_id ;
        $('#cover-pic').attr('src',cover);
        hideBand();

        $('#rent-btn').click(function(){
                s_id=$('#id_input').val();

                    $.post(document.location.origin + '/admin/tradeBook', {
                        bookId:m_bookId,
                        studentId:s_id,
                        AdminID:"1",
                        rent:"true"
                    }, function (req, res, data) {
                        //console.log(data.responseJSON);
                        books = data.responseJSON.content ? data.responseJSON.content : "";
                        console.log(books);
                        if (data.status == 'false') {
                            showFail(data.title);
                        } else {
                            showSuc(data.title);
                        }
                    });
        });

        $('#return-btn').click(function () {
            s_id = $('#id_input').val();
            $.post(document.location.origin + '/admin/tradeBook', {
                bookId: m_bookId,
                studentId: s_id,
                rent:"false"
            }, function (req, res, data) {
                //console.log(data.responseJSON);
                books = data.responseJSON.content ? data.responseJSON.content : "";
                console.log(books);
                if (data.status == 'false') {
                    showFail(data.title);
                } else {
                    showSuc(data.title);
                }
            });
        });


        function showFail(content){
            $('#msg-fail').text(content);
            $('#msg-fail-band').show();
            $('#msg-success-band').hide();
        }

        function hideBand(){
            $('#msg-fail-band').hide();
            $('#msg-success-band').hide();
        }

        function showSuc(content){
            $('#msg-suc').text(content);
            $('#msg-fail-band').hide();
            $('#msg-success-band').show();
        }